ody {
  background-color: rgb(233 223 243);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hi {
  background-color: rgb(213, 184, 202);
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  border: solid;
  margin-top: 150px ;
}
.me {
  word-break: break-all;
}
.valeur {
  width: 200px;
  height: 30px;
  background-color: rgb(215, 164, 215);
  margin-left: 50px;
  border-radius: 4%;
}
.nani {
  margin-left: 85px;
  color: #975096;
}
.add {
  width: 150px;
  height: 150px;
  border-radius: 50%; /*  This makes it a circle */
  margin-left: 60px;
  border: 2px solid rgb(154, 54, 154);
}
.inaf {
  margin-left: 50px;
}
.icon {
  margin-left: 230px;
}
